Bubbles/bin/Debug/
Bubbles/obj/
Bubbles/bin/
Bubbles/data/
Bubbles/packages
packages/
*.sln
*.suo
Bubbles/global.json
Bubbles/personal.json
DataProvider/bin/
DataProvider/obj/Debug/DataProvider.dll
DataProvider/obj/
*.vsp
Bubbles/NUnit*
Bubbles/RestSharp*
DataProvider/bin/*
Bubbles.sln
Bubbles.v11.suo
Bubbles/Bubbles.csproj
Bubbles/System.Data.SQLite*
DataProvider/RestSharp*
DataProvider/obj/*
DataProvider/NUnit*
DataProvider/JsonValue*
DataProvider/linq2db*
DataProvider/MySql.Data*
DataProvider/obj/Debug/DataProvider.csproj.FileListAbsolute.txt
DataProvider/obj/Debug/DataProvider.csproj.FileListAbsolute.txt
